{% extends 'base.html.twig' %}

{% block title %}Hello ReservaController!{% endblock %}

{% block body %}
    <section class="our-courses" id="courses">
        <div class="container">
            <div class="row">
                <!--Inicio Controles-->
                <div class="col-6 column">
                    <div id="cont">
                        <div id="datepicker"></div>
                        <div class="column">
                            <select name="horarios" id="horarios"></select>
                            <select name="juegos" id="juegos" size="1" style="width: 100px"></select>
                            <button id="nuevaMesa">Nueva mesa</button><br>
                        </div>
                    </div>
                    <br>
                    <div id="dialog" title="Crear nueva mesa" style="display: none;">
                        <form action="">
                            <label for="ancho">Ancho</label><br>
                            <input type="number" min="100" max="250" name="ancho" id="ancho" class="text ui-widget-content ui-corner-all"><br>
                            <label for="alto">Alto</label><br>
                            <input type="number" min="100" max="250" name="alto" id="alto" class="text ui-widget-content ui-corner-all"><br>
                        </form>
                    </div>
                    <br>
                    <div id="contenedorMesas"></div>
                </div>
                <!--Fin Controles-->

                <!--Inicio Sala-->
                <div class="col-6 row">
                    <div id="sala"></div><br>
                    <button id="guardarSala">Guardar Sala</button>
                </div>
                
                <!--Fin Sala-->
            </div>
        </div>
    </section>
{% endblock %}
