{% extends 'base.html.twig' %}

{% block title %}Hello ReservaController!{% endblock %}

{% block body %}

<section class="l-seccion--inicio col-12 row main-banner" id="top">
    <button>Nueva mesa</button>
    <div id="sala"></div>
    <div id="contenedorMesas"></div>
</section>
{% endblock %}
