{% extends 'base.html.twig' %}

{% block title %}Hello ReservaController!{% endblock %}

{% block body %}

<section class="l-seccion--inicio col-12 row main-banner" id="top">
    <section class="our-courses" id="courses">
        <div class="container">
            <div class="row">
                <div class="col-12" id="cont">
                    <div id="sala"></div><br>
                    <button>Nueva mesa</button><br>
                    <div id="contenedorMesas"></div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
