{% extends 'base.html.twig' %}

{% block title %}Juegos{% endblock %}

{% block body %}
<section class="l-seccion--inicio col-12 row main-banner" id="top">
    {% for juego in juegos %}
    <div class="card" style="width: 18rem;">
        <img src="{{juego.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{juego.nombre}}</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
