.l-seccion{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    &--inicio{
        position: absolute;
        
    }

}


